<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <strong>Mi Tiendita</strong>
              </a>
              <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink= "/ultimasCompras">Ultimas Compras</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink= "/agregarProd">Productos</a>
                  </li>
                  <li class="nav-item" style="position: absolute; right: 37px;">
                    <a class="nav-link" href="#" tabindex="-1">Salir</a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </nav>
    <div id="promo">
        <div class="jumbotron">
            <h2>Bienvenido</h2>
            <p>Encuentra los mejores productos.</p>
        </div>
    </div>
