<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content2">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button (click)="cerrarModal();" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul *ngIf="producto" class="list-group mb-3">
                  <li class="list-group-item active">{{producto.nombre}}</li>
                  <li class="list-group-item">{{producto.descripcion}}</li>
                  <li class="list-group-item">{{producto.precio}}</li>
                </ul>
                <div class="input-group mb-3">
                  <input (change)="seleccionarArchivo($event);" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <button (click)="subirArchivo();" [disabled]="!archivoSeleccionado" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                </div>
                <div *ngIf="progreso > 0" class="progress" style="height: 25px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{width: progreso + '%'}" aria-valuenow="75" attr.aria-valuemin="{{progreso}}" aria-valuemax="100" role="progressbar">
                    {{progreso}}%
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <img *ngIf="producto?.foto" src="https://spring-boot-mitiendita.herokuapp.com/api/uploads/archivo/{{producto.foto}}" alt="{{producto.foto}}" class="img-thumbnail rounded">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal();" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
