<div class="card border-info mb-3">
  <div class="card-header">Agregar Productos</div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" placeholder="Nombre Producto">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPrecio">Precio</label>
          <input type="text" class="form-control" id="inputPrecio" placeholder="Precio">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDescripcion">Descripción</label>
        <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripción del producto">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputImagen">Imagen</label>
        			<input type="file" name="file">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
</div>

<!--<div class="container">
    <div>
        <form>
            <div class="form-group">
                <div id="formdiv">
                    <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                        <div class="col-md-8 col-md-offset-1">
                            <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Nombre del Servicio</strong></p>
                        </div>
                        <div class="col-md-10 col-md-offset-1"><input class="form-control" type="text" name="name" required="" placeholder="Nombre del Servicio" style="margin-left:0px;font-family:Roboto, sans-serif;"></div>
                    </div>
                    <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                        <div class="col-md-8 col-md-offset-1">
                            <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Costo</strong></p>
                        </div>
                        <div class="col-md-10 col-md-offset-1"><input class="form-control col-2 col-form-label form-control" type="number" placeholder="Costo del Servicio"></div>
                    </div>




                    <br>
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                    <td><button class="btn btn-danger">eliminar</button></td>
                                </tr>
                                <tr>
                                    <td>Smith</td>
                                    <td>Thomas</td>
                                    <td>smith@example.com</td>
                                    <td><button class="btn btn-danger">eliminar</button></td>
                                </tr>
                                <tr>
                                    <td>Merry</td>
                                    <td>Jim</td>
                                    <td>merry@example.com</td>
                                    <td><button class="btn btn-danger">eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="row" style="margin-right:0px;margin-left:-70px;padding-top:24px;">
                        <div class="col-md-5 col-md-offset-5 col-xs-12 col-xs-offset-0">
                            <button class="btn btn-default-clear btn-lg" type="reset" style="font-family:Roboto, sans-serif;">Limpiar </button>
                            <button class="btn btn-default btn-lg" type="submit" style="margin-left:16px;">Enviar </button>
                            <button class="btn btn-default-update btn-lg" type="submit" style="margin-left:16px;">Actualizar </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>-->
