<div class="card border-info mb-3">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Nombre Producto" [(ngModel)]="producto.nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPrecio">Precio</label>
          <input type="text" class="form-control" id="inputPrecio" name="precio" placeholder="Precio" [(ngModel)]="producto.precio">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDescripcion">Descripción</label>
        <input type="text" class="form-control" id="inputDescripcion" name="descripcion" placeholder="Descripción del producto" [(ngModel)]="producto.descripcion">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputImagen">Imagen</label>
        			<input type="file" name="file">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" name="button" (click) = 'create()' *ngIf="!producto.id else elseBlock">Agregar</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" name="button" (click) = 'update()'>Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
